.auth-wrapper {
  /* background-color: green; */
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  position: relative;
}
.logo {
  width: 168px;
}
.chat {
  background-color: #d71e0e;
  cursor: pointer;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  place-content: center;
}
.chat > img {
  width: 30px;
}

.footer {
  /* border: 1px solid blue; */
  position: absolute;
  bottom: 26px;
  right: 26px;
}
